body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif; 
}
.top-header{
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.container{
    /* width: 600px; */
    height: 470px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 8%;
}
.top{
    background-image: url(images/bg-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    text-align: center;

}
.p-description{
    margin-bottom: 30px;
    padding: 0px 100px;
}
.btn-sector{
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 20px;
    background: #FF5959;
    color: #FFF;
    font-weight: bold;
}

.donate-section{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
#heading-size{
    font-size: 40px;
    font-weight: bolder;
    margin-right: 40px;
}
.donate-section p{
    padding:0px  20% 0px 25% ;
    font-size: small;
}
.amount-donate{
    display: flex;
    margin-left: 23%;
}
.amount{
    font-size: 25px;
    font-weight:bold;
    color: grey;
    padding: 30px 30px;
    margin: 10px 0px 10px 10px;
    background-color: rgb(248, 246, 246);
    box-shadow: 2px 10px 5px white;
}
#specific-amount{
    border:2px solid tomato;
    border-radius: 3px;
    background-color: rgb(247, 223, 227);
    color: #f10c0c;
}
.second-container{
    margin-top: 40px;
    text-align: center;
}
#other-amount{
    color: rgba(0, 0, 0, 0.616);
    padding-left: 220px;
    font-size: 15px;
    margin-bottom: 0px;
}
hr{
    color: rgb(141, 138, 138);
    width: 60%;
    margin-bottom: 40px; 
}
#mid-btn{
    margin-right: 25px;
}